<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bryankyle.emacs</string>
	<key>connections</key>
	<dict>
		<key>9AA9E137-5F20-444D-B157-31E17FAE1731</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81AEEF68-1226-4D3D-A0C3-6916E5C1D572</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C682D27F-32A1-4504-A64A-8BD0E32F99FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81AEEF68-1226-4D3D-A0C3-6916E5C1D572</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC512497-69C4-4540-8336-6825E44601F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C682D27F-32A1-4504-A64A-8BD0E32F99FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryan Kyle</string>
	<key>description</key>
	<string>Emacs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emacs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DC512497-69C4-4540-8336-6825E44601F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder" to return POSIX path of (target of first window as alias)
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C682D27F-32A1-4504-A64A-8BD0E32F99FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>exec /usr/local/bin/emacsclient --no-wait "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81AEEF68-1226-4D3D-A0C3-6916E5C1D572</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open in Emacs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>9AA9E137-5F20-444D-B157-31E17FAE1731</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>81AEEF68-1226-4D3D-A0C3-6916E5C1D572</key>
		<dict>
			<key>note</key>
			<string>exec emacsclient --no-wait ...</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>9AA9E137-5F20-444D-B157-31E17FAE1731</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>C682D27F-32A1-4504-A64A-8BD0E32F99FB</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>DC512497-69C4-4540-8336-6825E44601F4</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
